In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('C:\\Users\\Victus\\Downloads\\rainfall_area-wt_sd_1901-2015.csv')
print(df)

                    SUBDIVISION  YEAR   JAN    FEB   MAR    APR    MAY    JUN  \
0     ANDAMAN & NICOBAR ISLANDS  1901  49.2   87.1  29.2    2.3  528.8  517.5
1     ANDAMAN & NICOBAR ISLANDS  1902   0.0  159.8  12.2    0.0  446.1  537.1
2     ANDAMAN & NICOBAR ISLANDS  1903  12.7  144.0   0.0    1.0  235.1  479.9
3     ANDAMAN & NICOBAR ISLANDS  1904   9.4   14.7   0.0  202.4  304.5  495.1
4     ANDAMAN & NICOBAR ISLANDS  1905   1.3    0.0   3.3   26.9  279.5  628.7
...                         ...   ...   ...    ...   ...    ...    ...    ...
4111                LAKSHADWEEP  2011   5.1    2.8   3.1   85.9  107.2  153.6
4112                LAKSHADWEEP  2012  19.2    0.1   1.6   76.8   21.2  327.0
4113                LAKSHADWEEP  2013  26.2   34.4  37.5    5.3   88.3  426.2
4114                LAKSHADWEEP  2014  53.2   16.1   4.4   14.9   57.4  244.1
4115                LAKSHADWEEP  2015   2.2    0.5   3.7   87.1  133.1  296.6

        JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  Mar-May  \
0     365.1  481.1  332.6  388.5  558.2   33.6  3373.2    136.3    560.3
1     228.9  753.7  666.2  197.2  359.0  160.5  3520.7    159.8    458.3
2     728.4  326.7  339.0  181.2  284.4  225.0  2957.4    156.7    236.1
3     502.0  160.1  820.4  222.2  308.7   40.1  3079.6     24.1    506.9
4     368.7  330.5  297.0  260.7   25.4  344.7  2566.7      1.3    309.7
...     ...    ...    ...    ...    ...    ...     ...      ...      ...
4111  350.2  254.0  255.2  117.4  184.3   14.9  1533.7      7.9    196.2
4112  231.5  381.2  179.8  145.9   12.4    8.8  1405.5     19.3     99.6
4113  296.4  154.4  180.0   72.8   78.1   26.7  1426.3     60.6    131.1
4114  116.1  466.1  132.2  169.2   59.0   62.3  1395.0     69.3     76.7
4115  257.5  146.4  160.4  165.4  231.0  159.0  1642.9      2.7    223.9

      Jun-Sep  Oct-Dec
0      1696.3    980.3
1      2185.9    716.7
2      1874.0    690.6
3      1977.6    571.0
4      1624.9    630.8
...       ...      ...
4111   1013.0    316.6
4112   1119.5    167.1
4113   1057.0    177.6
4114    958.5    290.5
4115    860.9    555.4

[4116 rows x 19 columns]

In [7]:
df=df.drop(columns=['YEAR'])

In [8]:
print(df.columns)

Index(['SUBDIVISION', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG',
       'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb', 'Mar-May', 'Jun-Sep',
       'Oct-Dec'],
      dtype='object')

In [9]:
unique_states = df['SUBDIVISION'].unique()
print(unique_states)

['ANDAMAN & NICOBAR ISLANDS' 'ARUNACHAL PRADESH' 'ASSAM & MEGHALAYA'
 'NAGA MANI MIZO TRIPURA' 'SUB HIMALAYAN WEST BENGAL & SIKKIM'
 'GANGETIC WEST BENGAL' 'ORISSA' 'JHARKHAND' 'BIHAR' 'EAST UTTAR PRADESH'
 'WEST UTTAR PRADESH' 'UTTARAKHAND' 'HARYANA DELHI & CHANDIGARH' 'PUNJAB'
 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'WEST RAJASTHAN' 'EAST RAJASTHAN'
 'WEST MADHYA PRADESH' 'EAST MADHYA PRADESH' 'GUJARAT REGION'
 'SAURASHTRA & KUTCH' 'KONKAN & GOA' 'MADHYA MAHARASHTRA' 'MATATHWADA'
 'VIDARBHA' 'CHHATTISGARH' 'COASTAL ANDHRA PRADESH' 'TELANGANA'
 'RAYALSEEMA' 'TAMIL NADU' 'COASTAL KARNATAKA' 'NORTH INTERIOR KARNATAKA'
 'SOUTH INTERIOR KARNATAKA' 'KERALA' 'LAKSHADWEEP']

In [10]:
df['SUBDIVISION'] = df['SUBDIVISION'].str.strip().str.title()
print(df['SUBDIVISION'])

0       Andaman & Nicobar Islands
1       Andaman & Nicobar Islands
2       Andaman & Nicobar Islands
3       Andaman & Nicobar Islands
4       Andaman & Nicobar Islands
                  ...
4111                  Lakshadweep
4112                  Lakshadweep
4113                  Lakshadweep
4114                  Lakshadweep
4115                  Lakshadweep
Name: SUBDIVISION, Length: 4116, dtype: object

In [11]:
unique_states = df['SUBDIVISION'].unique()
print(unique_states)

print(df['SUBDIVISION'].nunique())

['Andaman & Nicobar Islands' 'Arunachal Pradesh' 'Assam & Meghalaya'
 'Naga Mani Mizo Tripura' 'Sub Himalayan West Bengal & Sikkim'
 'Gangetic West Bengal' 'Orissa' 'Jharkhand' 'Bihar' 'East Uttar Pradesh'
 'West Uttar Pradesh' 'Uttarakhand' 'Haryana Delhi & Chandigarh' 'Punjab'
 'Himachal Pradesh' 'Jammu & Kashmir' 'West Rajasthan' 'East Rajasthan'
 'West Madhya Pradesh' 'East Madhya Pradesh' 'Gujarat Region'
 'Saurashtra & Kutch' 'Konkan & Goa' 'Madhya Maharashtra' 'Matathwada'
 'Vidarbha' 'Chhattisgarh' 'Coastal Andhra Pradesh' 'Telangana'
 'Rayalseema' 'Tamil Nadu' 'Coastal Karnataka' 'North Interior Karnataka'
 'South Interior Karnataka' 'Kerala' 'Lakshadweep']
36

In [13]:
year_mapping={
    
 'Andaman & Nicobar Islands': 1,'Arunachal Pradesh': 2,'Assam & Meghalaya': 3,'Naga Mani Mizo Tripura': 4,'Sub Himalayan West Bengal & Sikkim': 5,'Gangetic West Bengal': 6,'Orissa': 7,
 'Jharkhand': 8,'Bihar': 9,'East Uttar Pradesh': 10,'West Uttar Pradesh': 11,'Uttarakhand': 12,'Haryana Delhi & Chandigarh': 13,'Punjab': 14,'Himachal Pradesh': 15,'Jammu & Kashmir': 16,
 'West Rajasthan': 17,'East Rajasthan': 18,'West Madhya Pradesh': 19,'East Madhya Pradesh': 20,'Gujarat Region': 21,'Saurashtra & Kutch': 22,'Konkan & Goa': 23,'Madhya Maharashtra': 24,
 'Matathwada': 25,'Vidarbha': 26,'Chhattisgarh': 27,'Coastal Andhra Pradesh': 28,'Telangana': 29,'Rayalseema': 30,'Tamil Nadu': 31,'Coastal Karnataka': 32,'North Interior Karnataka': 33,
 'South Interior Karnataka': 34,'Kerala': 35,'Lakshadweep': 36
}

In [14]:
df['SUBDIVISION'] = df['SUBDIVISION'].map(year_mapping).fillna(0)

df['SUBDIVISION'] = df['SUBDIVISION'].astype(int)
print(df['SUBDIVISION'])

0        1
1        1
2        1
3        1
4        1
        ..
4111    36
4112    36
4113    36
4114    36
4115    36
Name: SUBDIVISION, Length: 4116, dtype: int32

In [15]:
print(df)

      SUBDIVISION   JAN    FEB   MAR    APR    MAY    JUN    JUL    AUG  \
0               1  49.2   87.1  29.2    2.3  528.8  517.5  365.1  481.1
1               1   0.0  159.8  12.2    0.0  446.1  537.1  228.9  753.7
2               1  12.7  144.0   0.0    1.0  235.1  479.9  728.4  326.7
3               1   9.4   14.7   0.0  202.4  304.5  495.1  502.0  160.1
4               1   1.3    0.0   3.3   26.9  279.5  628.7  368.7  330.5
...           ...   ...    ...   ...    ...    ...    ...    ...    ...
4111           36   5.1    2.8   3.1   85.9  107.2  153.6  350.2  254.0
4112           36  19.2    0.1   1.6   76.8   21.2  327.0  231.5  381.2
4113           36  26.2   34.4  37.5    5.3   88.3  426.2  296.4  154.4
4114           36  53.2   16.1   4.4   14.9   57.4  244.1  116.1  466.1
4115           36   2.2    0.5   3.7   87.1  133.1  296.6  257.5  146.4

        SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  Mar-May  Jun-Sep  Oct-Dec
0     332.6  388.5  558.2   33.6  3373.2    136.3    560.3   1696.3    980.3
1     666.2  197.2  359.0  160.5  3520.7    159.8    458.3   2185.9    716.7
2     339.0  181.2  284.4  225.0  2957.4    156.7    236.1   1874.0    690.6
3     820.4  222.2  308.7   40.1  3079.6     24.1    506.9   1977.6    571.0
4     297.0  260.7   25.4  344.7  2566.7      1.3    309.7   1624.9    630.8
...     ...    ...    ...    ...     ...      ...      ...      ...      ...
4111  255.2  117.4  184.3   14.9  1533.7      7.9    196.2   1013.0    316.6
4112  179.8  145.9   12.4    8.8  1405.5     19.3     99.6   1119.5    167.1
4113  180.0   72.8   78.1   26.7  1426.3     60.6    131.1   1057.0    177.6
4114  132.2  169.2   59.0   62.3  1395.0     69.3     76.7    958.5    290.5
4115  160.4  165.4  231.0  159.0  1642.9      2.7    223.9    860.9    555.4

[4116 rows x 18 columns]

In [16]:
import pickle

In [19]:
with open('modified_df.pkl', 'wb') as f:
    pickle.dump(df, f)

In [ ]:
def rain_check(df,state):

  filtered_df = df[df['SUBDIVISION'] == state]

  # Step 2: Find the row with the maximum Score in the filtered DataFrame
  max_row = filtered_df[filtered_df['ANNUAL'] == filtered_df['ANNUAL'].max()]

  # print(max_row)
  result_dict = max_row.to_dict(orient='records')
  print(result_dict)

# rain_check(df,1)

# Pickle the function to a file
with open('rain_check.pkl', 'wb') as f:
    pickle.dump(rain_check, f)